<% layout("boilerplate.ejs") %>



    <% if(success && success.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <h4 class="text-center">
                <%= currentUser.username %>'s dashboard
            </h4>


            <div class="row d-flex mt-5">
                <div class=col-<%=(currentUser.friendRequests.length>=1) ? "3":"0" %>>
                    <% if(currentUser.friendRequests.length>= 1) { %>
                        <h3 class="text-center">matchUp requests you have:</h3>
                        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                            <div style="max-height: 900px" class="carousel-inner">
                                <% currentUser.friendRequests.forEach((user, i)=> {%>
                                    <div class="carousel-item <%= (i==0?'active':'') %> ">
                                        <div class="card d-block w-100">
                                            <img src=<%=user.images[0].url%> style="max-height: 500px"
                                            class="card-img-top"
                                            alt="">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <a href="/profile/<%=user._id%> ">
                                                        <%= user.username %>
                                                    </a>
                                                </h5>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <span>Age: <%= helperScripts.calculateAge(user.dob) %>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <%= user.city %>
                                                    </li>
                                                </ul>
                                                <div class="text-center card-body">
                                                    <form style="display: inline" method="POST"
                                                        action="/<%=user._id%>/accept">
                                                        <button class="btn btn-success">Accept</button>
                                                    </form>
                                                    <form style="display: inline" method="POST"
                                                        action="/<%=user._id%>/reject">
                                                        <button class="btn btn-danger">Reject</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% if (currentUser.friendRequests.length> 1) { %>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                        </div>
                        <% } %>
                </div>



                <div class="col-5 mx-auto">
                    <% if(potentialMatchUps.length < 1) { %>
                        <h4 class="text-center">Sorry! No profiles to show</h4>
                        <% } else { %>
                            <h3 class="text-center">Profiles you might be interested in ..</h3>
                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div style="max-height: 900px" class="carousel-inner">
                                    <% potentialMatchUps.forEach((user, i)=> {%>
                                        <div class="carousel-item <%= (i==0?'active':'') %> ">
                                            <div class="card d-block w-100">
                                                <img src=<%=user.images[0].url%> style="max-height: 500px"
                                                class="card-img-top"
                                                alt="">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">
                                                        <%= user.username %>
                                                    </h5>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <span>Age: <%= helperScripts.calculateAge(user.dob) %>
                                                            </span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <%= user.city %>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center card-body">
                                                        <form style='display:inline-block;'
                                                            action="/profile/<%=user._id%>" method="GET">
                                                            <button class="btn btn-primary">View Profile</button>
                                                        </form>
                                                        <form style='display:inline-block;' method="POST"
                                                            action="/<%=user._id%>/add">
                                                            <button class="btn btn-success">Send matchUp
                                                                Request</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <% if (potentialMatchUps.length> 1) { %>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <% } %>
                            </div>
                            <% } %>
                </div>
            </div>



            <div class="row my-5">

            </div>


            <!-- Friends list -->
            <div class="row my-5">
                <div class="col-4 mx-auto">
                    <% if(currentUser.friends.length>= 1) { %>
                        <h3 class="text-center">Your matchUps:</h3>
                        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                            <div style="max-height: 900px" class="carousel-inner">
                                <% currentUser.friends.forEach((user, i)=> {%>
                                    <div class="carousel-item <%= (i==0?'active':'') %> ">
                                        <div class="card d-block w-100">
                                            <img src=<%=user.images[0].url%> style="max-height: 500px"
                                            class="card-img-top"
                                            alt="">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <%= user.username %>
                                                </h5>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <%= user.email %>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <%= user.city %>
                                                    </li>
                                                </ul>
                                                <div class="text-center card-body">
                                                    <form style='display:inline-block;' action="/profile/<%=user._id%>"
                                                        method="GET">
                                                        <button class="btn btn-primary">View Profile</button>
                                                    </form>
                                                    <form style='display:inline-block;' method="POST"
                                                        action="/<%=user._id%>/date">
                                                        <button class="btn btn-warning">Schedule a date</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% if (currentUser.friends.length> 1) { %>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                        </div>
                        <% } %>
                </div>
            </div>


            <script>
                function calculateAge(birthday) { // birthday is a date
                    var ageDifMs = Date.now() - birthday.getTime();
                    var ageDate = new Date(ageDifMs); // miliseconds from epoch
                    return Math.abs(ageDate.getUTCFullYear() - 1970);
                }
            </script>