<% layout("boilerplate.ejs") %>

    <% if(success && success.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

            <h1 class="text-center">
                <%= currentUser.username %>'s dashboard
            </h1>


            <div class="row d-flex mt-5">
                <div class="col-6 mx-auto">
                    <% if(potentialMatchUps.length <1) { %>
                        <h3 class="text-center">Sorry! No profiles to show</h3>
                        <% } else { %>
                            <h3 class=" text-center">Profiles you might be interested in ..</h3>
                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div style="max-height: 900px" class="carousel-inner">
                                    <% potentialMatchUps.forEach((user, i)=> {%>
                                        <div class="carousel-item <%= (i==0?'active':'') %> ">
                                            <div class="card d-block w-100">
                                                <img src=<%=user.image%> style="max-height: 500px"
                                                class="card-img-top"
                                                alt="">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= user.username %>
                                                    </h5>
                                                    <p class="card-text">User's profile description goes
                                                        here
                                                    </p>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <%= user.email %>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <%= user.city %>
                                                        </li>
                                                    </ul>
                                                    <div class="text-center card-body">

                                                        <form method="POST" action="/<%=user._id%>/add">
                                                            <button class="btn btn-primary">Send matchUp
                                                                Request</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>


                            <% } %>
                </div>
            </div>



            <div class="row my-5">
                <div class="col-4 mx-auto">
                    <% if(currentUser.friendRequests.length>= 1) { %>
                        <h3 class="text-center">matchUp requests you have:</h3>
                        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                            <div style="max-height: 900px" class="carousel-inner">
                                <% currentUser.friendRequests.forEach((user, i)=> {%>
                                    <div class="carousel-item <%= (i==0?'active':'') %> ">
                                        <div class="card d-block w-100">
                                            <img src=<%=user.image%> style="max-height: 500px"
                                            class="card-img-top"
                                            alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= user.username %>
                                                </h5>
                                                <p class="card-text">User's profile description goes
                                                    here
                                                </p>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <%= user.email %>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <%= user.city %>
                                                    </li>
                                                </ul>
                                                <div class="text-center card-body">
                                                    <form style="display: inline" method="POST"
                                                        action="/<%=user._id%>/accept">
                                                        <button class="btn btn-success">Accept matchUp</button>
                                                    </form>
                                                    <form style="display: inline" method="POST"
                                                        action="/<%=user._id%>/reject">
                                                        <button class="btn btn-danger">Reject matchUp</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <% } %>
                </div>
            </div>